/ _header.html.haml
%nav.navbar.navbar-default{role: "navigation"}

	.navbar-header 
		%button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
			%span.sr-only Toggle navigation
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar
		%a.navbar-brand#brand
			= link_to "TODO", root_path

	.collapse.navbar-collapse.navbar-ex1-collapse

		%ul.nav.navbar-nav
			%li
				= link_to "Home", root_path
			%li
				= link_to "New Todo List", new_todo_list_path
			
		%ul.nav.navbar-nav.navbar-right
			%li
				%a{href: "#"} About
			- if user_signed_in?
				%li
					= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?"}
				%li
					= link_to "Account", edit_user_registration_path
			- else
				%li
					= link_to "Login", new_user_session_path
				%li
					= link_to "Sign-up", new_user_registration_path
			/ %li.dropdown
			/ 	%a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
			/ 		Settings
			/ 		%b.caret
			/ 	%ul.dropdown-menu
			/ 		- if user_signed_in?
			/ 			%li
			/ 				= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?"}
			/ 			%li
			/ 				= link_to "Account", edit_user_registration_path
			/ 		- else
			/ 			%li
			/ 				= link_to "Login", new_user_session_path
			/ 			%li
			/ 				= link_to "Sign-up", new_user_registration_path